

.vcenter {


   display: flex;
   justify-content: space-around;
   align-items:center !important;
   width: 85vw;
   height: 80vh;
}


.distance {
margin-top:15px;
margin-bottom:20px;
}

.distance1 {
margin-top:12px;
margin-bottom:15px;
}