
.left {
  float: left;


 
}
.right {
  float: right;

}

#win2 {
   width:40vw;
   height:75vh;
   float: right;
   
   margin-top:10px

}


#win1 {
    width: 40vw;
    height: 75vh;
    float: left;
}


