#center{
    text-align:center;
}

#win3{

   width:40vw;
   height:auto;
  
  
   margin-top:auto;


}



#win4{

   width:40vw;
   height:auto;
   margin-top:auto;
   display: flex;
   justify-content: space-around;
   align-items:center !important;
}

