@model WebApplication19.Models.Parameters

@{
    ViewBag.Title = "Amber1DO";
}


 


<div id="myCarousel" class="carousel slide" data-ride="carousel"style="margin-top:20px" data-interval="99999999999">
  

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
        <img src="~/Image/A1DO1200.jpg" alt="Amber 1 DO" />
            
            
              <div class="carousel-caption" style="position:absolute; top:340px; color:#000000">


                 
                     <h3 >Amber 1 - wersja dachowa</h3>
                     <h4>wymiennik obrotowa, wersja stojąca</h4>
                  
              </div>
            
  

    </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
 </div>
</div>

  


    
    <!-- <img src="~/Image/184.jpg"  style="width:10vw; height:auto;position:relative;left:-10px" />
     <img src="~/Image/185.jpg"  style="width:10vw; height:auto;position:relative;left:-10px" />
    -->
   
  
            <p style="text-indent: 5%; text-align: justify; font-size:medium; margin-top:30px"> Centralki dachowe <strong> AMBER 1 </strong>
             służą do odzysku ciepła z powietrza zużytego podczas wentylacji niedużych pomieszczeń użytkowych.

            Centrala AMBER 1 w wykonaniu dachowym występuje w wersji z wymiennikiem obrotowym w typoszeregu 1200 m3.
            </p>
<div style="height:30px">
</div>
        
     