@model WebApplication19.Models.Parameters

@{
    ViewBag.Title = "Amber2";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel"style="margin-top:20px" data-interval="99999999999">
  

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" >
    <div class="item active">
        <img src="~/Image/A2P.jpg" alt="Amber 2 P" />
            
            
              <div class="carousel-caption" style="position:absolute; bottom:-30px; color:#000000">


                 
                     <h3 >Amber 2</h3>
                     <h4>wymiennik przeciwprądwy, wersja stojąca</h4>
                  
              </div>
            
  

    </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
 </div>
</div>
 
 

  


    
    <!-- <img src="~/Image/184.jpg"  style="width:10vw; height:auto;position:relative;left:-10px" />
     <img src="~/Image/185.jpg"  style="width:10vw; height:auto;position:relative;left:-10px" />
    -->
   
      
        
            <p style="text-indent: 5%; text-align: justify; font-size:medium; margin-top:30px"> Centralki <strong> AMBER 2 </strong>stanowią główny element systemu wentylacji mechanicznej. Zapewniają ciągłe dostarczanie do pomieszczeń obrobionego cieplnie powietrza świeżego oraz odprowadzanie zużytego na zewnątrz, przy wykorzystaniu ciepła odzyskanego z powietrza wywiewanego. Swoje zastosowanie mają w miejscach użyteczności publicznej takich jak: biura, kawiarnie, rezydencje, siłownie, jak również w domach prywatnych.

              Ze względu na ilość dostarczanego/usuwanego powietrza, dostępne są cztery opcje: 300, 500,800, 1200 m3/h.
              Standardowo montowany jest wymiennik przeciwprądowy. Dodatkowo istnieje możliwość wyposażenia centrali AMBER 2 w akcesoria dodatkowe. Króćce w tej wersji są ustawione pionowo, co odróżnia ją od centralek Amber 1. W modelu tym nie przewidziano rozróżnienia na strony obsługowe.
            </p>

<div style="height:30px">
</div>
       