@model WebApplication19.Models.Parameters

@{
    ViewBag.Title = "Amber1";
}


  <div class="row">

     <div class=col-lg-2 style="padding-top:20px">
     <img src="~/Image/184.jpg"  style="width:10vw; height:auto;position:relative;left:-10px" />
     <img src="~/Image/185.jpg"  style="width:10vw; height:auto;position:relative;left:-10px" />
   
      </div>
        <div class="col-lg-10" style="padding-top:30px">
            <p style="text-indent: 0%; text-align: justify; font-size:medium"> Centralki <strong> AMBER 1 </strong>stanowią główny element systemu wentylacji mechanicznej. Zapewniają ciągłe dostarczanie do pomieszczeń obrobionego cieplnie powietrza świeżego oraz odprowadzanie zużytego na zewnątrz, przy wykorzystaniu ciepła odzyskanego z powietrza wywiewanego. Swoje zastosowanie mają w miejscach użyteczności publicznej takich jak: biura, kawiarnie, rezydencje, siłownie, jak również w domach prywatnych.

              W ofercie dostępna jest wersja podstawowa stojąca oraz wersja podwieszana.

 
              Dla każdej wersji przewidziano trzy typy rozwiązań wymiennika do odzysku ciepła: rekuperator krzyżowy, rekuperator
              przeciwprądowy oraz regenerator obrotowy. Do każdej wersji i typu rozwiązania, ze względu na ilość dostarczanego/usuwanego 
              powietrza, dostępne są cztery opcje: 300, 500,800, 1200 m3/h.

              Każde urządzenie występuje w dwóch wariantach strony obsługowej – prawej lub lewej. Dodatkowo istnieje możliwość wyposażenia
              centrali AMBER 1 w akcesoria dodatkowe. Króćce w tej wersji są ustawione poziomo, co odróżnia ją od centralek Amber 2.
            </p>
        </div>
      </div>
 