@{
    ViewBag.Title = "Kontakt";
}


<h3>Zakład produkcyjny BARBOR</h3>
<h4>Skowarcz, ul. Klimatyczna 4</h4>
<h4>83-032 Pszczółki</h4>
<h4>tel.: 58 741 88 03</h4>
<h4>tel. kom.: 601 258 042</h4>
<h4>e-mail: barbor@barbor.biz</h4>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37353.673747107074!2d18.664497078285674!3d54.187077980163785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fd653fb755e9bd%3A0x9460f8d0d59fd60b!2sBarbor+Sp.+o.o.!5e0!3m2!1sen!2spl!4v1524509554068" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>