@{
    ViewBag.Title = "Kontakt";
}


<h2>Zakład produkcyjny BARBOR</h2>
<h3>Skowarcz, ul. Klimatyczna 4</h3>
<h3>83-032 Pszczółki</h3>
<h3>tel.: 58 741 88 03</h3>
<h3>tel. kom.: 601 258 042</h3>
<h3>e-mail: barbor@barbor.biz</h3>