@model WebApplication19.Models.Parameters

@{
    ViewBag.Title = "Krzyzowy";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel"style="margin-top:20px" data-interval="99999999999">
  

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" >
    <div class="item active">
        <img src="~/Image/K.jpg" alt="Krzyżowy P" />
            
            
              <div class="carousel-caption" style="position:absolute; top:340px; color:#000000">


                 
                     <h3 >Wymiennik krzyżowy</h3>
                   
                  
              </div>
            
  

    </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
 </div>
</div>
 
 

  


    
    <!-- <img src="~/Image/184.jpg"  style="width:10vw; height:auto;position:relative;left:-10px" />
     <img src="~/Image/185.jpg"  style="width:10vw; height:auto;position:relative;left:-10px" />
    -->
   
      
        
            <p style="text-indent: 5%; text-align: justify; font-size:medium; margin-top:30px"> Wymienniki <strong> krzyżowe </strong>, płytowe zbudowane są z aluminiowych płyt (w wersji specjalnej płyty dodatkowo pokryte są warstwą żywicy epoksydowej), pomiędzy którymi przepływa odseparowane od siebie powietrze nawiewane i wywiewane, w kierunku krzyżowym wobec siebie. Powietrze usuwane przepływa przez co drugi kanał pomiędzy płytami nagrzewając je, a powietrze świeże przez pozostałą część kanałów, pobierając ciepło od ogrzanych płyt.
              
              Charakteryzują się prostą konstrukcją, brakiem części ruchomych oraz wysoką szczelnością. Płytowy wymiennik ciepła osiąga sprawności od 55 do 70%
            </p>

<div style="height:30px">
</div>
       