
@{
    ViewBag.Title = "ProductChoise";
}


@model WebApplication19.Models.Parameters
    


<div class="vcenter">
          

        <button type="button" onclick="location.href='@Url.Action("TypChoiseAmber1", "Home")'" >
           <p><strong> Amber 1</strong></p>
             <img alt="New" title="Amber 1" src="~/Image/182.jpg"height="200" width="200" >
         </button>


    <button type="button" onclick="location.href='@Url.Action("TypChoiseAmber2", "Home")'" >
           <p><strong>Amber 2</strong></p>
             <img alt="New" title="Amber 1" src="~/Image/234.jpg"height="200" width="200" >
         </button>

    <button type="button" onclick="location.href='@Url.Action("TypChoiseAmberRoof", "Home")'" >
                <p><strong>Amber 1 - Wersja dachowa</strong></p>
                
               
             <img alt="New" title="Amber 1" src="~/Image/O-1200-DO.bmp"height="200" width="200"  >
         </button>
      
    
 </div>   


