@{
    ViewBag.Title = "Kontakt";
}


<h3>Zakład produkcyjny BARBOR</h3>
<h4>Skowarcz, ul. Klimatyczna 4</h4>
<h4>83-032 Pszczółki</h4>
<h4>tel.: 58 741 88 03</h4>
<h4>tel. kom.: 601 258 042</h4>
<h4>e-mail: barbor@barbor.biz</h4>