
@{
    ViewBag.Title = "ProductChoiseManual";

}

@model WebApplication19.Models.Parameters
    


<div class="vcenter">
          

        <button type="button" onclick="location.href='@Url.Action("TypChoiseAmber1Manual", "Manual")'" >
           <p><strong> Amber1</strong></p>
             <img alt="New" title="Amber 1" src="~/Image/182.jpg"height="200" width="200" >
         </button>


    <button type="button" onclick="location.href='@Url.Action("TypChoiseAmber2Manual", "Manual")'" >
           <p><strong>Amber2</strong></p>
             <img alt="New" title="Amber 1" src="~/Image/234.jpg"height="200" width="200" >
         </button>

    <button type="button" onclick="location.href='@Url.Action("TypChoiseAmberRoofManual", "Manual")'" >
                <p><strong>Amber1-Wersja dachowa</strong></p>
                
               
             <img alt="New" title="Amber 1" src="~/Image/234.jpg"height="200" width="200"  >
         </button>
      
    
 </div>   




