<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Proszę użyć przyciski paska nawigacyjnego</h1>
        <h2> </h2>
    </hgroup>
</body>
</html>
