

@model WebApplication19.Models.Parameters


   <div id="win1">@Html.Partial("Chart")</div>
    
    
    

    @if (ViewBag.Approve == true)

   

        {
        <div id="win2">addad</div>
        }
         else
         {
            <div id = "win2"> Parametry poza zakresem pracy </div>
         }
   




















