

@model WebApplication19.Models.Parameters


   <div id="win1">@Html.Partial("Chart")</div>
    
    
    

    @if (ViewBag.Approve == true)

   

        {
        <div id="win2"> 
            
            <p>Została wybrana centrala </p>
            <p>@ViewBag.Name</p> 
            <p>Proszę wybrać wykonanie centrali</p>


   
        </div>
     

        }
         else
         {
            <div id = "win2"> Parametry poza zakresem pracy </div>
         }
   




















